
<div className="container mx-auto my-8 px-4 sm:px-6 lg:px-8">
  <h1 className="text-3xl font-bold mb-6">Menu Management</h1>
  <div className="grid grid-cols-1 md:grid-cols-2 gap-8">

<nz-card class="ml-5 mr-5">
  <form [formGroup]="formModal">
    <div class="col-12">
      <div class="row">
        <div class="col-1">
          <label> ชื่อเมนู </label>
        </div>
        <div class="col-4">
          <input
            placeholder="name"
            nz-input
            type="text"
            formControlName="insertName"
            (ngModelChange)="name($event)"
          />
        </div>
        <div class="col-1">
          <label> ราคา </label>
        </div>
        <div class="col-2">
          <input
            placeholder="price"
            nz-input
            type="number"
            formControlName="insertPrice"
            (ngModelChange)="price($event)"
          />
        </div>

        <div class="col-2">
          <button nz-button nzType="primary" (click)="insertMenu()">
            เพิ่ม
          </button>
          <button nz-button nzType="primary" (click)="clearMenu()">
            ล้างข้อมูล
          </button>
        </div>
      </div>
    </div>
  </form>

  <div *ngFor="let menu of menuList">
    <div class="col-6">
      <div class="row">
        <div class="col-1">
          <label class="text-right">ชื่อเมนู</label>
        </div>
        <div class="col-2">
          {{ menu.name }}
        </div>
        <div class="col-1">
          <label class="text-right">ราคา</label>
        </div>
        <div class="col-2">
          {{ menu.price }}
        </div>
      </div>
    </div>
  </div>
</nz-card>

