<head>
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<div class="topnav">
    <a href="/menu">Menu</a>
    <a href="/insert-menu">Insert Menu</a>
    <a href="/menu-list">Menu List</a>
    <a href="/menu-page">Menu Page</a>
  </div>
<router-outlet></router-outlet>
