.topnav {
    overflow: hidden;
    background-color: #DCA47C;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #FCF8F3;
    color: black;
  }
  
  .topnav a.active {
    background-color: #698474;
    color: white;
  }