<!-- <div class="topnav">
  <a class="active" href="/menu">Menu</a>
  <a href="#news">Insert Menu</a>
</div> -->

<nz-card class="ml-5 mr-5" nzTitle="ขนมปังปิ้ง">
  <div class="col-12">
    <div class="row">
      <form [formGroup]="formModal">
        <div class="col-6 mb-2" style="padding-left: 12px">
          <div class="row widthTB">
            <input
              placeholder="Search"
              nz-input
              formControlName="inputSearch"
              (ngModelChange)="onChange($event)"
            />
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-6 widthTB">
        <nz-table #basicTable [nzData]="listData">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let data of basicTable.data; let i = index"
              (click)="selectOrder(data)"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.price }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div class="col-6 widthTB">
        <div class="col-12">
          <div class="row">
            <div class="col-2">รวม</div>
            <div class="col-2">{{ sumary }}</div>
            <div class="col-2">บาท</div>
            <div class="col-2">
              <button nz-button nzDanger (click)="delete()">ลบ</button>
            </div>
          </div>
        </div>
        <nz-table #orderTable [nzData]="orders">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let data of orderTable.data; let i = index"
              (click)="deleteRow(data.id)"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.price }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</nz-card>
